<h5 class="text-center">Site by: Rina Joy Abu</h5>
<div class="social-media-links">
    <a href="https://www.linkedin.com/in/rinajoyabu" target="_blank">
        <img class="linkedin-logo" src="https://www.seekpng.com/png/detail/553-5538632_linkedin-logo-white-circle-transparent-png-linkedin-global.png" alt="linkedin logo">
    </a>
    <a href="https://github.com/rinajabu" target="_blank">
        <img class="github-logo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github logo">
    </a>
</div>