<h1>Memory Lane</h1>
<a href="/main">Home</a>
<a href="/main/new">New Memory</a>
<% if (currentUser) { %>
    <p>
        Welcome, <%=currentUser.username%>!
    </p>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="LOG OUT" />
    </form>
<% } else { %>
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Log In</a>
<% } %>