<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h2>New Post Page</h2>
    <form action="/main" method="POST">
        Title: <input type="text" name="title" /><br />
        Img: <input type="url" name="img" /><br />
        Thoughts: <input type="text" name="thoughts"><br />
        <input type="submit" value="Post!">
    </form>
</body>
</html>