<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    <h2 class="mb-4 text-center">Log In Page</h2>
    <form id="form-container" class="container" action="/sessions" method="POST">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="username">Username</label>
            <input class="form-control" id="colFormLabel" type="text" name="username" required/>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="password">Password:</label>
            <input class="form-control" id="colFormLabel" type="password" name="password" />
        <br>
        </div>
        <input id="new-btn" class="btn btn-primary" type="submit" value="Submit">
    <form>
    <p>
        New user? Click sign up, to get started! <a href="/users/new">Sign Up</a>
    </p>
</body>
</html>