<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    <h1>New Sign Up Page</h1>
    <form id="form-container" class="container" action="/users" method="POST">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="username">Username</label>
            <input class="form-control" id="colFormLabel" type="text" name="username" required/>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="password">Password:</label>
            <input class="form-control" id="colFormLabel" type="password" name="password" />
        <br>
        </div>
        <input id="new-btn" class="btn btn-primary" type="submit" value="Submit">
    <form>
</body>
</html>