<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    <h2 class="mb-4 text-center">New Sign Up Page</h2>
    <form id="form-container" class="container" action="/users" method="POST">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="username">Username</label>
            <input class="form-control" id="colFormLabel" type="text" name="username" required/>
        </div>
        <!-- made password min length be 8 characters long -->
        <div class="row mb-3">
            <label class="col-form-label" for="password">Password (8 characters minimum)</label>
            <input class="form-control" id="colFormLabel" type="password" name="password" minlength="8" required/>
        <br>
        </div>
        <input id="new-btn" class="mb-2 btn btn-primary" type="submit" value="Submit">
    <form>
    <p>
        Already a user? Click log in, to get started! <a href="/sessions/new">Log In</a>
    </p>
</body>
</html>